<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%#= render 'shared/project_form' %>
        <%= link_to 'New Project', new_project_path, class: 'btn' %>
        
      </section>
    </aside>
    <div class="span8">
      <h3>Project Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Observations and Measurements</h1>
    <br/>
    <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %> 