<tr>
	<td><%= point.row_id %></td>
	<td><%= point.measurement_id %></td>
	<td><%= point.value %></td>

  <td><%= link_to 'Show', point %> |
  <%= link_to 'Edit', edit_point_path(point) %> |
  <%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

