<h1>Listing points</h1>

<table>
  <thead>
    <tr>
      <th>Row</th>
      <th>Measurement</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.row.id %></td>
        <% if !point.measurement.blank? %>
          <td><%= point.measurement.id %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= point.value %></td>
        <td><%= link_to 'Show', point %></td>
        <td><%= link_to 'Edit', edit_point_path(point) %></td>
        <td><%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point', new_point_path %>
