<div class="row">
	<div class="span8 offset2">

    <h3>Traits</h3>

    <%= will_paginate %>

    <table class="table">
      <thead>
        <tr>
          <th>Trait name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @traits.each do |trait| %>
          <tr>
            <td><%= trait.trait_name %></td>
            <td style="text-align:right;"><%= link_to 'Show', trait %> |
            <%= link_to 'Edit', edit_trait_path(trait) %> |
            <%= link_to 'Delete', trait, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New Trait', new_trait_path, class: 'btn btn-large' %>

  </div>  
</div>