<h1>Listing ds</h1>

<table>
  <thead>
    <tr>
      <th>Measurement</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ds.each do |d| %>
      <tr>
        <td><%= d.measurement %></td>
        <td><%= d.value %></td>
        <td><%= link_to 'Show', d %></td>
        <td><%= link_to 'Edit', edit_d_path(d) %></td>
        <td><%= link_to 'Destroy', d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New D', new_d_path %>
