<%= form_for(@project) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :user_id, :value => current_user.id %>  
  <%= f.text_field :project_name, :placeholder => "Project name" %>

	<h4>Observations and Measurements</h4>

  <p>Define the entities that were observed, and then select the traits of these entities measured and the measurement standard used.  Entities, traits and standards can be added via the "Data" menu at the top of the page.</p>

  <%= f.fields_for :observations do |obs| %>
  	<%= render "observation_fields", :f => obs %>
  <% end %>
	<div class="links">
	  <p><%= link_to_add_association "Add Observation", f, :observations %></p>
  </div>

  <%= f.submit 'Save', class: "btn" %>
  
<% end %>
