<%= form_for(@project) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :user_id, :value => current_user.id %>  
  <%= f.label :project_name %>
  <%= f.text_field :project_name %>

	<h4>Observations</h4>

  <%= f.fields_for :observations do |obs| %>
  	<%= render "observation_fields", :f => obs %>
  <% end %>
	<div class="links">
	  <p><%= link_to_add_association "Add Observation", f, :observations %></p>
  </div>

  <%= f.submit class: "btn" %>
<% end %>
