<div class="nested-fields">
  <div class="alert alert-warning">
    
	<%= f.select :entity_id, Entity.all.collect {|a| [a.entity_name, a.id]}, {:include_blank => 'Choose entity...'}, class: "input-large" %>
  
	<p class="pull-right"><%= link_to_remove_association "remove", f %></p>
  
  <%= f.fields_for :measurements do |mea| %>
  	<%= render "measurement_fields", :f => mea %>
  <% end %>
	<div class="links">
	  <p><%= link_to_add_association "Add Measurement", f, :measurements %></p>
  </div>
  
</div>
</div>
