<%= form_for(@project, :url => {:controller => "projects", :action => "update_row"}, :method => "post") do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :project_id, :value => @project.id %>  

  <table>    
    <thead>
      <tr>
        <td>Entity:</td>      
        <% @project.observations.each do |obs| %>
          <% mark = 0 %>
          <% obs.measurements.each do |mea| %>
            <% mark = mark + 1 %>
          <% end %>
          <% if obs.measurements.count > 0 %>
            <td colspan='<%= mark %>'>
              <div class="alert alert-warning" style="margin:2px;padding:5px;">
                <%= Entity.find(Observation.find(obs.id).entity_id).entity_name %>
              </div>
            </td>
          <% end %>
        <% end %>
        <td></td>      
      </tr>
      <tr>
        <td>Trait:</td>
        <% m = [] %>
        <% @project.observations.each do |obs| %>
          <% obs.measurements.each do |mea| %>
            <% m.push(mea.id) %>
            <td>
              <div class="alert alert-danger" style="margin:2px;padding:5px;">              
                <%= Trait.find(Measurement.find(mea.id).trait_id).trait_name %> [<%= mea.id %>]<br/>
                (<%= Standard.find(Measurement.find(mea.id).standard_id).standard_name %>)
              </div>
            </td>
          <% end %>
        <% end %>
        <td><div style="margin:2px;padding:5px;"></div></td>      
      </tr>
    </thead>


    <tbody>
      <%= f.fields_for :rows do |row| %>
      	<%#= render "row_fields", :f => row %>
        
        <tr class="nested-fields"> 
          <td><div style="margin:2px;padding:5px;"></div></td>      
          <% if row.object.points.blank? %>      
            <% m.each do |i| %>
              <% row.object.points.build(:measurement_id => i) %>
            <% end %>
          <% end %>

          <%= row.fields_for :points do |poi| %>      
            <td>
              <%= poi.text_field :value, :placeholder => poi.object.measurement_id, class: "input-append", style: "margin:0px;padding:5px;" %>
              <%= poi.hidden_field :measurement_id %>
            </td>
          <% end %>

          <td>
            <div style="margin:2px;padding:5px;"><%= link_to_remove_association "remove", row %></div>
            <%= row.hidden_field :project_id, :value => @project.id %>
          </td>
        </tr>
        
      <% end %>
    </tbody>
  </table>

	<div class="links">
    <p><%= link_to_add_association "Add Row", f, :rows, :"data-association-insertion-node" => "tbody", :"data-association-insertion-method" => "append" %></p>
  </div>
  
  <%= f.submit 'Save', class: "btn btn-large" %>  
<% end %>



