<div class="nested-fields">
  
  <%= f.hidden_field :project_id, :value => @project.id %>  
  
  <% if f.object.points.blank? %>      
    <% @project.observations.each do |obs| %>
      <% obs.measurements.each do |mea| %>
          <% f.object.points.build(:measurement_id => mea.id) %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.fields_for :points do |poi| %>      
    <%= poi.text_field :value, class: "input-mini" %>
    <%= poi.hidden_field :measurement_id %>  
  <% end %>
  
  <p class="pull-right"><%= link_to_remove_association "remove", f %></p>
</div>
