<%= form_for(@project, :url => {:controller => "projects", :action => "update_row"}, :method => "post") do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :project_id, :value => @project.id %>  

  <table>    
    <thead>
      <tr>
        <td>Entity:</td>      
        <% m = [] %>
        <% @project.observations.each do |obs| %>
          <% mark = 0 %>
          <% obs.measurements.each do |mea| %>
            <% m.push(mea.id) %>
            <% mark = mark + 1 %>
          <% end %>
          <% if obs.measurements.count > 0 %>
            <td colspan='<%= mark %>'>
              <div class="alert alert-warning" style="margin:2px;padding:5px;">
                <%= Entity.find(Observation.find(obs.id).entity_id).entity_name %>
              </div>
            </td>
          <% end %>
        <% end %>
        <td></td>      
      </tr>
      <tr>
        <td>Trait:</td>
        <% m.each do |i| %>
        <td>
          <div class="alert alert-danger" style="margin:2px;padding:5px;">              
            <%= Trait.find(Measurement.find(i).trait_id).trait_name %> [<%= i %>]<br/>
            (<%= Standard.find(Measurement.find(i).standard_id).standard_name %>)
          </div>
        </td>
        <% end %>
        
        <td><div style="margin:2px;padding:5px;"></div></td>      
      </tr>
    </thead>

    <tbody>
      <%= f.fields_for :rows do |row| %>
      	<%= render "row_fields", :f => row %>        
      <% end %>
    </tbody>
  </table>

	<div class="links">
    <p><%= link_to_add_association "Add Row", f, :rows, :"data-association-insertion-node" => "tbody", :"data-association-insertion-method" => "append" %></p>
  </div>
  
  <%= f.submit 'Save', class: "btn btn-large" %>  
<% end %>



