<div class="nested-fields">
  <div class="alert alert-success">
  
    <%= f.hidden_field :project_id, :value => @project.id %>  
    
    <%= f.fields_for :points do |poi| %>      
  	  <%= render "point_fields", :f => poi %>
    <% end %>
  	<div class="links">
  	  <p><%= link_to_add_association "Add Point", f, :points %></p>
    </div>
        
	<p class="pull-right"><%= link_to_remove_association "remove", f %></p>
</div>
</div>
