  
  <div style="display: table-row;" class="nested-fields">

  <div style="display: table-cell;padding-right:5px;" class="pull-right"><%= link_to_remove_association "x", f %></div>
  <%= f.hidden_field :project_id, :value => @project.id %>  
  
  <% if f.object.points.blank? %>      
    <% @project.observations.each do |obs| %>
      <% obs.measurements.each do |mea| %>
          <% f.object.points.build(:measurement_id => mea.id) %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.fields_for :points do |poi| %>      
    <div style="display: table-cell;">
      <%= poi.text_field :value, class: "input-append" %>
      <%= poi.hidden_field :measurement_id %>
    </div>
  <% end %>
  

  </div>
  
