<%# provide(:title, @project.project_name) %>
<div class="row">
	<div class="span8 offset2">
    <h3>Project: <%= @project.project_name %></h3>
    <p>Enterer: <%= @project.user.name %></p>
    <%= link_to "Edit", edit_project_path, class: 'btn' %>
    <%= link_to "Data", edit_row_project_path, class: 'btn' %>
  
  
  
  	<%#= render 'row_form' %>
    
    <h3>Data</h3>
    <table class="table">
    <% @project.rows.each do |row| %>
      <tr>
      <% row.points.each do |poi| %>
        <td><%= poi.value %></td>
      <% end %>
    </tr>
    <% end %>  
  </table>
    
    
    <h3>Contexts (come back to this later)</h3>
    <% @project.contexts.each do |con| %>
      <p><%= con.observation_id %> - <%= con.has_context_id %></p>
    <% end %>  
  
    <h3>Observations and Measurements</h3>
    <% @project.observations.each do |obs| %>
      <div class="alert alert-warning">
        <p><h4><%= Entity.find(obs.entity_id).entity_name %></h4></p>

        <%#= obs.id %>

        <% @contexts = @project.contexts.where(["observation_id = ?", obs.id]) %>
        <% @contexts.each do |con| %>
          <p>Has context: <%= Entity.find(Observation.find(con.has_context_id).entity_id).entity_name %></p>
        <% end %>

        <% obs.measurements.each do |mea| %>
          <div class="alert alert-danger">
            <% if !mea.trait_id.blank? %>
              Has measured trait: <%= Trait.find(mea.trait_id).trait_name %>
              <% if !mea.standard_id.blank? %>
              , using standard: <%= Standard.find(mea.standard_id).standard_name %>
              <% else %>
              , using no standard.</p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<br/>
