<h3>Context</h3>

<%= form_for(@context) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.fields_for :contexts do |con| %>
  	<%= render "context_fields", :f => con %>
  <% end %>
	<div class="links">
	  <p><%#= link_to_add_association "Add Context", f, :contexts %></p>
  </div>

  <%= f.submit class: 'btn'%>

<% end %>
