<div class="row">
	<div class="span8 offset2">
    <h3>Standards</h3>

    <%= will_paginate %>

    <table class="table">
      <thead>
        <tr>
          <th>Standard name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @standards.each do |standard| %>
          <tr>
            <td><%= standard.standard_name %></td>
            <td style="text-align:right;"><%= link_to 'Show', standard %> |
            <%= link_to 'Edit', edit_standard_path(standard) %> |
            <%= link_to 'Delete', standard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <%= link_to 'New Standard', new_standard_path, class: 'btn btn-large' %>

	</div>
</div>
